<section>
    <div class="container">

        <div class="row">
    
          <div class="col"> <h2>Acerca de...</h2> </div>

        </div>
        <div class="row">
    
            <div class="col"> 
                Full Stack Developer Jr <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum praesentium at iure saepe vitae soluta dolor officiis ratione consequatur culpa totam nihil labore, ipsam magnam doloremque odio quidem fugiat magni?
            </div>

        </div>
       
    </div>
</section>
