<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Experiencia</h2>
                
            </div>
        </div>
       <div>
            <ul class="item-list">
        
                <li> 
                    <h2>Experiencia 1 en detalles</h2>
                    <p>Detalles ejemplo ejemplo ejemplo ejemplo ejemplo</p>

                </li>
                <li> 
                    <h2>Experiencia 2 en detalles</h2>
                    <p>Detalles ejemplo ejemplo ejemplo ejemplo ejemplo</p>

                </li>
                <li> 
                    <h2>Experiencia  en detalles</h2>
                    <p>Detalles ejemplo ejemplo ejemplo ejemplo ejemplo</p>

                </li>
                
            </ul>
        </div>
        
    
      </div>
</section>
