
<header> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Portfolio</a>
          
          <button type="button" class="btn btn-light">Light</button>
        </div>
        
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col" id="encabezado" >
                Banner
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>{{miPortfolio.name}}</h1>
            </div>
            <div class="col">
                <h1>imagen</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>{{miPortfolio.position}}</h2>
            </div>
            <div class="col">
                <h1>imagen</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>{{miPortfolio.ubication.provincia}}</h2>
            </div>
            <div class="col">
                <h1>imagen</h1>
            </div>
        </div>
    </div>


</header>