<section>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Hard & Soft Skills</h2>
                </div>
        </div>
       
        <div class="row">
    
            <div class="col"> habilidad 1 </div>
            
        </div>
        <div class="row">
    
            <div class="col"> habilidad 2 </div>
        </div>
        <div class="row">
    
            <div class="col"> habilidad 3 </div>
        </div>
    
    </div>
</section>
